@model AmazingShop.Models.ProductList

<div class="page-header">
    <h1>Order Form</h1>
</div>

@using (Html.BeginForm("SaveProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)

    @*if (!string.IsNullOrEmpty(Model.Image))
        {
            <img alt="Image" src="data:@Model.ImageContentType;base64,@Model.Image" />
        }*@
    <div class="form-group">
        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", placeholder = "Product Name" })
    </div>

    <div class="form-group">
        <input type="file" id="file" name="file" value="Browse">
    </div>

    <div class="form-group">
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", placeholder = "Description" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x => x.Price)
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholder = "Price" })
    </div>

    <div class="form-group">
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
    </div>

    <input type="submit" value="Save Product" class="btn btn-primary" style="margin-top:10px" />
}
